* {
	box-sizing: border-box;
}
section {
	border: 1px solid black;
	background-color: #cccccc;
	position: relative;
	margin: 10px;
	/* top right bottom left */
	padding: 50px 15px 5px 15px;		
}
.maintitle {
	font-size: 1.75em;
  text-align: center;
}
.title, #title1, #title2, #title3 {
	border: 1px solid black;
	margin: 0px;
	padding: 5px;		
	position: absolute;
	top: -1px;
	right: -1px;
	font-size: 1.25em;
}
#title1 {
	color: white;
	background-color: #A52A2A;
}
#title2 {
	color: white;
	background-color: #5F9EA0;
}
#title3 {
	color: white;
	background-color: #FF7F50;
}
#section1, #section2, #section3 {
  float: left;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  #section1 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 33.33%;
  }
  #section2 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 33.33%;
  }
  #section3 {
    /*col-lg-4 col-md-12 col-sm-12*/
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #section1 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 50%;
  }
  #section2 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 50%;
  }
  #section3 {
    /*col-lg-4 col-md-12 col-sm-12*/
    width: 100%;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
  #section1 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 100%;
  }
  #section2 {
    /*col-lg-4 col-md-6 col-sm-12*/
    width: 100%;
  }
  #section3 {
    /*col-lg-4 col-md-12 col-sm-12*/
    width: 100%;
  }
}
